registry= http://192.168.1.17:8089/repository/npmall/
init.author.name = dreamsleep
init.author.email = lele4900@126.com
init.author.url = http://192.168.1.17:8089/repository/npmhosted/
# an email is required to publish npm packages
email=ele4900@126.com
always-auth=true
_auth=ZHJlYW1zbGVlcDpkcmVhbXNsZWVw

#http://www1.tc711.com/tool/BASE64.htm
